# Dependencias
node_modules/
package-lock.json

# Compilación y temporales
dist/
dist-ssr/
*.local

# Tauri y Rust (IMPORTANTE: esto pesa GBs)
src-tauri/target/
src-tauri/gen/

# Secretos y Entorno
.env
.env.*

# IDEs
.vscode/
.idea/
.DS_Store